<html xmlns:th="http://www.thymeleaf.org">

	<head>
        <title>AngularJS</title>
        <meta charset="UTF-8">
        <!-- thu vien angularjs chung -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

        <script src="/angularjs/lib/angular.min.js"></script>
        <script src="/angularjs/lib/angular-ui-router.min.js"></script>
        <script src="/angularjs/lib/localforage.min.js"></script>
        <script src="/angularjs/lib/ngStorage.min.js"></script>

        <!-- js controller -services angularjs tự tạo-->
        <script src="/angularjs/js/service.js"></script>
        <!-- đặt controller.js trên service.js là die vi no doc theo thu tu lan luot -->
        <script src="/angularjs/js/productController.js"></script>
        <script src="/angularjs/js/baseXuLyAngularJs.js"></script>

        <!-- Jquerry -->
        <script src="/jquerry/jquery.min.js"></script>
        <script src="/jquerry/jquery.validate.min.js"></script>

        <!-- css,js chuan cua boostrap -->
        <link rel="stylesheet" type="text/css" href="/bootstrap/js/bootstrap.min.css">
        <script src="/bootstrap/js/bootstrap.min.js"></script>

        <!-- css tự định nghĩa -->
        <link rel="stylesheet" type="text/css" href="/angularjs/css/app.css" />
	</head>

    <!-- Xử lý nguyên thủy AngularJs không phân tầng gọi service/controller gì cả-->
	<body ng-app="productManagement" ng-controller="ProductController as ctrl">

		<h3>Manage Product Basic</h3>

		<div class="generic-container">
			<div class="panel panel-default">

				<div class="panel-heading">
					<span class="lead">Add New Product </span>
				</div>

				<div class="panel-body">
					<div class="formcontainer">

						<form ng-submit="addProduct()" name="myForm" class="form-horizontal">
							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for="productName">Product Name</label>
									<div class="col-md-7">
										<input type="text"
											   ng-model="product.productName"
											   id="productName"
											   class="username form-control input-sm"
											   placeholder="Product Name" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for="price">Price</label>
									<div class="col-md-7">
										<input type="number"
											   ng-model="product.price"
											   id="price"
											   class="form-control input-sm"
											   placeholder="Price" required>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label class="col-md-2 control-lable" for="numberSales">Number
										Sales</label>
									<div class="col-md-7">
										<input type="text"
											   ng-model="product.numberSales"
											   id="numberSales"
											   class="form-control input-sm"
											   placeholder="Number for Sales" required />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-actions floatRight">
									<input type="submit" value="Add" class="btn btn-primary btn-sm">

									<button type="button"
											ng-click="ctrl.reset()"
											class="btn btn-warning btn-sm"
											ng-disabled="myForm.$pristine">Reset Form</button>
								</div>
							</div>
						</form>

					</div>

				</div>
			</div>

			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<span class="lead">List of Product </span>
				</div>

				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Seq Product</th>
									<th>Product Name</th>
									<th>Price</th>
									<th width="100"></th>
									<th width="100"></th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="pro in product">
									<td>{{ pro.seqPro }}</td>
									<td>{{ pro.productName }}</td>
									<td>{{ pro.price }}</td>
									<td>
                                        <button type="button"
												ng-click="editProduct(pro)"
												class="btn btn-success custom-width">Edit</button>
                                    </td>

									<td><button type="button"
												ng-click="deleteProduct(pro)"
												class="btn btn-danger custom-width">Remove</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	<!-- Start modal Update -->
		<div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog">
				<form ng-submit="updateProduct()">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header col-md-12">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title"></h4>
						</div>

						<div class="modal-body col-md-12">
							<div class="form-group col-md-12">
								<label class="col-md-4">Mã sản phẩm</label>
								<div class="col-md-8">
									<input type="text"
											id="seqPro"
											ng-model="seqPro"
											name ="seqPro"
											class="form-control"
											placeholder="SeqPro" readonly="readonly" />
								</div>
							</div>

							<div class="form-group col-md-12">
								<label class="col-md-4">Tên product</label>
								<div class="col-md-8">
									<input id="productNameUpdate"
											ng-model="productNameUpdate"
											name="productNameUpdate"
											type="text"
											class="form-control">
								</div>
							</div>

							<div class="form-group col-md-12">
								<label class="col-md-4">Price</label>
								<div class="col-md-8">
									<input id="priceProduct"
										   ng-model="price"
										   name="price"
										   type="text"
										   class="form-control">
								</div>
							</div>

							<div class="form-group col-md-12">
								<label class="col-md-4">Trạng thái</label>
								<div class="col-md-8">
									<select id="sysStatus" ng-model="sysStatus" class="form-control">
										<option value="1">Áp dụng</option>
										<option value="0">Ngừng áp dụng</option>
									</select>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<div class="col-md-4 col-md-offset-0">
								<input id="update-product" type="submit" value="update" class="btn btn-primary btn-sm">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- End modal Update -->


		<!-- Modal thông báo message add-->
		<div class="modal fade" id="notifiModal" role="dialog">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close dongmodal" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Thông báo</h4>
					</div>
					<div class="modal-body">
						<p id="massagemodal"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default dongmodal"
							data-dismiss="modal">Đóng</button>
					</div>
				</div>
			</div>
		</div>
		<!-- endmodal -->
	</body>
</html>