#ajaxLoading {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin .5s linear infinite;
  margin: auto;
  top: 50%;
  position: relative;
}
.fullscreen{
	z-index: 9999999999;
	background-color: #eeeeee61;
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
	display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}